.about-arrow {
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  transition: transform 0.3s ease;
}

.about-arrow.open {
  transform: rotate(180deg);
}
.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: #000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00aaff;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu-item {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #00aaff;
}

.about-menu {
  position: relative;
}

.about-toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.about-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.menu-option {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.menu-option:hover {
  color: #00aaff;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 2rem;
  }

  .navbar-menu.open {
    display: flex;
  }
}
