.sponsorship-section {
  background: linear-gradient(135deg, #1a1a1a, #282828);
  padding: 4rem 3rem;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.sponsorship-text {
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
  color: #e0e0e0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.download-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2.5rem;
  background: linear-gradient(90deg, #00aaff, #007acc);
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 4rem;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
  background: linear-gradient(90deg, #007acc, #00aaff);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.sponsor-categories {
  margin-top: 4rem;
}

h3 {
  font-size: 2.2rem;
  color: #00aaff;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.support {
  font-size: 2rem;
  color: #00aaff;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sponsor-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  margin: 1.5rem auto;
  width: 140px;
  height: 140px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  background-color: transparent;
}

.elmas-sponsors .sponsor-card {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.elmas-sponsors .sponsor-card:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
}

.platin-sponsors .sponsor-card {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.03)
  );
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.platin-sponsors .sponsor-card:hover {
  transform: scale(1.08);
  box-shadow: 0px 4px 10px rgba(200, 200, 200, 0.3);
}

.sponsor-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s ease;
}

.sponsor-card:hover .sponsor-logo {
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.6));
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

/* Küçük Ekranlar için Düzenlemeler */
@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .sponsor-card {
    width: 140px; /* Daha büyük boyut sağlamak için ayarlandı */
    height: 140px;
  }

  .sponsor-logo {
    max-width: 100%; /* Küçük ekranlarda logolar daha iyi görünmesi için artırıldı */
    max-height: 100%;
    padding: 0;
  }

  h3,
  .support {
    font-size: 1.8rem; /* Küçük ekranlarda başlıkların boyutu küçültüldü */
    word-wrap: break-word;
    margin: 1.5rem 0;
  }
}

/* Çok Küçük Ekranlar için Düzenlemeler */
@media screen and (max-width: 480px) {
  .sponsor-card {
    width: 150px; /* Küçük ekranlarda sponsor kartlarını daha büyük yapmak için */
    height: 150px;
  }

  .sponsor-logo {
    max-width: 85%;
    max-height: 85%;
    padding: 0;
  }

  h3,
  .support {
    font-size: 1.5rem; /* Çok küçük ekranlarda başlıkların boyutu küçültüldü */
    word-wrap: break-word;
    margin: 1rem 0;
  }
}
