.sponsorship-section {
  background-color: #1a1a1a;
  padding: 3rem 2rem;
  color: #ffffff;
  text-align: center;
}

.sponsorship-text {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.download-button {
  display: inline-flex; /* Satır içi ve flex düzeni */
  align-items: center; /* İcon ve metni ortalayacak şekilde hizala */
  gap: 0.5rem; /* İcon ile metin arasındaki boşluk */
  padding: 1rem 2rem;
  background-color: #00aaff;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 4rem;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #007acc;
}

.sponsor-categories {
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  color: #00aaff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.support {
  font-size: 2rem;
  color: #00aaff;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.elmas-sponsors,
.platin-sponsors {
  background-color: #303030;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.sponsor-card {
  padding-top: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  max-width: 200px;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sponsor-card:hover {
  transform: scale(1.05);
}

.sponsor-logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
  min-width: 150px;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .elmas-sponsors,
  .platin-sponsors {
    padding-top: 10rem;
    gap: 1rem;
  }

  .sponsor-card {
    padding: 1rem;
    width: 150px;
  }

  .sponsor-logo {
    min-width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .sponsor-card {
    padding-top: 4rem;
    width: 120px;
  }

  .sponsor-logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 100px;
  }
}
